packages/*/node_modules
packages/*/dist
packages/examples/*/node_modules
packages/examples/*/dist
packages/examples/*/build
packages/examples/*/config
packages/examples/*/webpack.config.js
docs/*
coverage/*
_book/*
